/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: rgb(248, 185, 185);
    font-family: Lato;
    font-weight: 300;
    height: 80vh;
    color: rgb(105, 45, 45);
    font-size: 2.5vh;
}

h1{
    font-size: 2.5em;
    font-weight: 300;
}

details {
    margin-top: 0.5em;
    margin-left: 1em;
}

.container-new{
    margin:0.2em;
}


/* PLAYERS */

.player-panel{
   margin:0.5em;
}

.player-name {
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 100;
    margin-top: 1.2em;
    margin-bottom: 0.2em;
}

.player-score {
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
    color: #EB4D4D;
    margin-bottom: 4em;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    padding: 0.5em;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 1em;
    font-size: 0.8em;
    color: #222;
}

.player-current-score {
    font-size: 1.2em;
}

/* PLAYER WINNER */

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }

/* DICE */

.dice {
    height: 12vh;
    margin-bottom: 1.8em;
    margin-top: 1em;
}

/* BUTTON */

button {
    font-size: 1.3em;
    background: none;
    border: none;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 0.5em; }

button:focus {
    outline: none;
}

